.header{
  background-color: #00253c;
 
  border: 1px solid;
  margin: 0;
  padding: 0;
position: fixed;
width: 100%;
  z-index: 3;

}
.leftheder{
  background-color: #00253c;
 
  border: 1px solid;
  margin: 0;
  padding: 0;
width: 100%;
  z-index: 3;

}
.mainlogo {
  width:100px;
  margin-right: 0px;
}
.line-bottom-left {
  position: absolute;
  top: 95px;
  left: -50%;
  margin-left: 705px;
  width: 100%;
  height: 2px;
  border: 1px solid #127eb1;
  background: #009de0;
}
.ficon{
  color: white;
  margin-right: 25px;
}
.left-icons{
  margin-left: 25px;
  margin-top: 55px;
}
.ficon :hover{
  color: #009de0;
  transition: 0.3s;

}
.fr{
  --bs-gutter-x:0
}
.openbtn{
float: right;
}
.openbtn :hover{
  color: #009de0;

}
.menu{
  margin-top:8px;
  color: white;
  height: 50px;
}
.menu--hidden {
  transform: translateY(calc(-1 * var(--nav-height)));
  box-shadow: none;
}
.menu :hover{
 
}
.searchbar{
  margin-top:40px;
}
#button-addon1{
color: white;
background-color:#00253c ;
}
#button-addon1 :hover{
    color: #009de0;
  }
.menu ul{

}
.menu ul li{

  float: right;
  list-style: none;
  display: inline-block;

}
.menu ul li a {
  padding: 15px;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
}
.menu ul li :hover{
  background-color: #e2e2e23d;
  border-top: 8px solid #00253c;

}